@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;800&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #d3d3d3;
  --secondary: #ec5242;
  --text-color: #272a31;
  --weight: bold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* z-index: 0; */
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* z-index: 1; */
}

header {
  width: 100%;
  /* height: 80px; */
  /* background-color: red; */
}

header .social_media {
  display: none;
}

header .header-nav {
  position: fixed;
  z-index: 2;
}

nav .nav_desk {
  display: none;
}

nav .nav_mobile {
  /* background-color: aqua; */
}

.nav_mobile .closed-menu-btn {
  display: none;
}

.nav_mobile .show-menu-btn {
  width: 80px;
  padding: 24px;
}

main {
  width: 100%;
}

ul {
  list-style: none;
}

.home_section {
  padding: 80px 24px 0;
  background-color: var(--primary);
  opacity: 0.9;
  background-image: linear-gradient(rgba(206, 205, 205, 0.698), rgb(220, 224, 220)), url('../images/home-mobile.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home_section_title {
  color: var(--secondary);
}

.home_section_title h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  padding: 12px 0;
}

.home_section_title h1 {
  font-size: 48px;
  font-weight: var(--weight);
  line-height: 60px;
  color: var(--seconderyColor);
  margin: 10px 0;
  background-image: url("../images/font.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article p {
  border: 3px solid rgb(255, 255, 255);
  padding: 20px;
  font-weight: var(--weight);
  margin: 20px 0;
  font-size: 0.99rem;
  line-height: 30px;
}

.info h3 {
  color: var(--text-color);
  font-weight: 900;
  font-size: 32px;
}

.info p {
  color: var(--text-color);
  font-size: 0.99rem;
  line-height: 30px;
  padding: 6px 0 60px;
}

.program_section {
  width: 100%;
  background-color: var(--text-color);
  background-image: url("../images/mission.png");
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 24px; */
}

.program_section h2 {
  color: var(--primary);
  text-align: center;
  padding: 32px;
}

.program_section h2::after {
  content: " ";
  display: block;
  max-width: 68px;
  height: 3px;
  margin: 14px auto 0;
  background-color: var(--secondary);
}

.program_section .program {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 14px;
  /* grid-auto-rows: calc(474px + 20px); */
  padding: 10px 2%;
}

.program li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  background-color: #acacac1f;
}

.program li img {
  width: 50px;
}

.program li h3 {
  width: 30%;
  color: var(--secondary);
  padding: 10px;
  flex-wrap: wrap;
  /* background-color: aliceblue; */
}

.program li p {
  width: 50%;
  color: var(--primary);
  font-size: 14px;
  line-height: 20px;
  /* background-color: aqua; */
}

.btn-program {
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.program_section button {
  display: inline-block;
  border: none;
  font-size: 2rem;
  padding: 22px 34px;
  color: var(--primary);
  background-color: var(--secondary);
}

.featured_section {
  width: 100%;
  background-color: var(--primary);
}

.featured_section h2 {
  color: var(--text-color);
  text-align: center;
  padding: 22px;
}

.featured_section h2::after {
  content: " ";
  display: block;
  max-width: 68px;
  height: 3px;
  margin: 10px auto 0;
  background-color: var(--secondary);
}

.featured_section .team {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 34px;
  padding: 40px 2%;
}

.team li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #fff;
}

.card-img {
  width: 200px;
  height: 200px;
  /* padding-top: 25px; */
  /* padding-left: 25px; */
  position: relative;
  background-color: aqua;
  /* z-index: 1; */
  /* overflow: unset !important; */
}

.img-user {
  width: 100%;
  height: 100%;
  z-index: 3;

}

.img-user img {
  height: 100%;
  width: 100%;
  z-index: 3;
}

.img-bg {
  width: 150px;
  z-index: 1;
  position: absolute;
  top: -30px;
  left: -30px;
}

.img-bg img {
  height: 100%;
  width: 100%;
  z-index: 1;
}

li .card-body {
  width: 55%;
}

li .card-body h3 {
  font-weight: bold;
  font-size: 22px;
}

li .card-body h4 {
  color: var(--secondary);
  font-size: 14px;
  padding: 8px 0;
}

li .card-body h4::after {
  content: " ";
  display: block;
  max-width: 28px;
  height: 2px;
  margin: 8px 0 0;
  background-color: var(--primary);
}

li .card-body p{
  font-size: 12px;
}

.featured_section .see-more {
  width: 100%;
  text-align: center;
  margin: 50px auto;
}

.see-more button {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  text-decoration: none;
  padding: 24px 160px;
  font-size: 22px;
}

.see-more button i {
  color: var(--secondary);
}




.partners_section {
  width: 100%;
  background-color: var(--text-color);
  opacity: 0.9;
  padding: 3rem 0;
  margin-top: 3rem;
}

.partners_section h2 {
  color: var(--primary);
  text-align: center;
  padding: 32px;
}

.partners_section h2::after {
  content: " ";
  display: block;
  max-width: 38px;
  height: 2px;
  margin: 14px auto 0;
  background-color: var(--secondary);
}

.partner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.partner-list li {
  margin: 1rem 1rem;
  width: 150px;
}

.partner-list li img {
  width: 100%;
  color: var(--primary);
}
